<p-toast position="top-center" key="tc"></p-toast>

<div class="p15 pl25">
    <div class="gilroyNormal s10 fontLightGrey breadCrumbsArea">
        <span class="breadCrumbsBack" (click)="navigateMenu('home/portal-config')">Designation</span>
        <i class="pi pi-angle-left breadCrumbsArrow"></i>
        <span *ngIf="action == 'save'">Create Designation</span>
        <span *ngIf="action == 'edit'">Edit Designation</span>
        <span *ngIf="action == 'view'">View Designation</span>
    </div>
    <div class="gilroyNormal s13 fw600">
        <span *ngIf="action == 'save'">Create new Designation</span>
        <span *ngIf="action == 'edit'">Edit existing Designation</span>
        <span *ngIf="action == 'view'">View existing Designation</span>
    </div>

    <div class="whiteDivision" style="min-height: calc(100vh - 161px);">
        <div class="gilroyNormal fontMediumBlack fw600 s11 mb25">Please fill below details to create new Designation
        </div>
        <form [formGroup]="desgForm" (ngSubmit)="action=='edit' ? onEdit() : onSubmit()">
            <div class="textboxComponent mt5 mr18 mh70">
                <div class="textboxName">Designation Name</div>
                <input type="text" class="pinputText pinputText300px" pInputText formControlName="name">
                <div
                    *ngIf="desgForm.controls.name.invalid && (desgForm.controls.name.dirty || desgForm.controls.name.touched)">
                    <div *ngIf="desgForm.controls.name.errors!= null" class="gilroyNormal fontRed s11 mt5">
                        {{getErrorMessage('name',desgForm.controls.name.errors)}}
                    </div>
                </div>
            </div>
            <div class="dropdownComponent mt5 mr18 mh70">
                <div class="dropdownName">Department</div>
                <p-dropdown class="pDropdown pDropdown300px" [options]="departments" formControlName="department"
                    optionLabel="name" filterBy="name" placeholder="Select Department"
                    [filter]="true" [showClear]="true">
                    <ng-template let-dept pTemplate="item">
                        <div class="align-items-center gap-0 dropdown-items">
                            <div>{{dept.name}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
                <div
                    *ngIf="desgForm.controls.department.invalid && (desgForm.controls.department.dirty || desgForm.controls.department.touched)">
                    <div *ngIf="desgForm.controls.department.errors!= null" class="gilroyNormal fontRed s11 mt5">
                        {{getErrorMessage('department',desgForm.controls.department.errors)}}
                    </div>
                </div>
            </div>

            <div class="dropdownComponent mt5 mr18 mh70">
                <div class="dropdownName">Active</div>
                <p-dropdown class="pDropdown pDropdown300px" [options]="active" formControlName="active"
                    optionLabel="label" filterBy="label" placeholder="Select Status" [filter]="true"
                    [showClear]="true">
                    <ng-template let-act pTemplate="item">
                        <div class="align-items-center gap-0 dropdown-items">
                            <div>{{act.label}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
                <div
                    *ngIf="desgForm.controls.active.invalid && (desgForm.controls.active.dirty || desgForm.controls.active.touched)">
                    <div *ngIf="desgForm.controls.active.errors!= null" class="gilroyNormal fontRed s11 mt5">
                        {{getErrorMessage('active',desgForm.controls.active.errors)}}
                    </div>
                </div>
            </div>
            <div class="textboxComponent mt5 mr18 mh70">
                <div class="textboxName">Description</div>
                <input type="text" class="pinputText pinputText300px" pInputText formControlName="description">
            </div>
            <div class="mt40" *ngIf="action != 'view'">
                <button type="submit" *ngIf="action == 'save'" class="success-btn fw600 addlPaddingNBorder"
                    [disabled]="!desgForm.valid" [style.background-color]="showLoading ? '#860063' : ''"
                    [style.width]="showLoading ? '130px' : ''">
                    <span *ngIf="!showLoading">Save</span>
                    <span *ngIf="showLoading"><i class="pi pi-spin pi-spinner"
                            style="font-size: 12px; animation: fa-spin 1s infinite linear; margin-right: 5px; margin-left: -5px;"></i>Saving...</span>
                </button>

                <button type="submit" *ngIf="action == 'edit'" class="success-btn fw600 addlPaddingNBorder"
                    [disabled]="!desgForm.valid || !showUpdateButton"
                    [style.background-color]="showLoading ? '#860063' : ''" [style.width]="showLoading ? '130px' : ''">
                    <span *ngIf="!showLoading">Update</span>
                    <span *ngIf="showLoading"><i class="pi pi-spin pi-spinner"
                            style="font-size: 12px; animation: fa-spin 1s infinite linear; margin-right: 5px; margin-left: -5px;"></i>Updating...</span>
                </button>

                <button type="button" class="cancel-btn ml10 fw600"
                    (click)="navigateMenu('home/portal-config')">Cancel</button>
            </div>
        </form>
    </div>
</div>