<p-toast position="top-center" key="tcc"></p-toast>
<div class="p15 pl25">
    <div class="gilroyNormal s13 fw600">Student Fee Entry</div>

    <div class="whiteDivision" style="min-height: calc(100vh - 210px); margin-top: 18px; padding-bottom: 0px;">
        <div class="search-n-heading-component">
            <div class="disp-inline-block">
                <div class="gilroyNormal s13 fw600 mb7">Student Fee Entry List</div>
                <div class="gilroyNormal fontLightGrey s11">
                    Total {{studentFeeList.length}} Student Fee Entry
                </div>
            </div>
            <div class="disp-inline-block float-r">
                <span class="p-input-icon-right">
                    <i class="pi pi-search"></i>
                    <input type="text" pInputText class="inputtext-search" placeholder="Search" [(ngModel)]="searchText"
                        (ngModelChange)="applyGlobalFilter(searchText, 'contains')" />
                </span>
                <div class="success-btn ml12 success-btn-enabled" (click)="CreateFeeEntry()">
                    <i class="pi pi-plus"></i>
                    Add New Student Fee Entry
                </div>
            </div>
            <div class="grid-table">

                <p-table #dt1 [value]="studentFeeList" dataKey="id" [expandedRowKeys]="expandedRowKeys"
                    (onRowExpand)="onRowExpand($event.data)" [paginator]="true" [rows]="tableRows"
                    [rowsPerPageOptions]="[5,10,20,50]" styleClass="p-datatable-sm table-generic-style">

                    <!-- HEADER -->
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width:40px"></th>
                            <th>Student</th>
                            <th>Class</th>
                            <th>Section</th>
                            <th>Collection</th>
                            <th>Due Date</th>
                            <th>Total Fee</th>
                            <th>Action</th>
                        </tr>
                    </ng-template>

                    <!-- BODY -->
                    <ng-template pTemplate="body" let-rowData let-expanded="expanded">

                        <tr>

                            <td>
                                <button type="button" [pRowToggler]="rowData" class="expandBtn">

                                    <i class="pi" [ngClass]="expanded ? 'pi-chevron-down' : 'pi-chevron-right'"></i>

                                </button>
                            </td>

                            <td>{{rowData.studentName}}</td>
                            <td>{{rowData.className}}</td>
                            <td>{{rowData.sectionName}}</td>
                            <td>{{rowData.collectionType}}</td>
                            <td>{{rowData.dueDate}}</td>

                            <td class="totalFee">
                                ₹ {{rowData.totalFee}}
                            </td>

                            <td class="editArea">

                                <span (click)="viewContent(rowData)">View</span> |
                                <span (click)="editContent(rowData)">Edit</span> |
                                <span (click)="confirm($event,rowData)">Delete</span>

                            </td>

                        </tr>

                    </ng-template>


                    <!-- EXPANSION ROW -->

                    <ng-template pTemplate="rowexpansion" let-rowData>

                        <tr class="expansionRow">

                            <td></td>

                            <td colspan="7">

                                <div class="feeBox">

                                    <table class="feeTable">

                                        <thead>
                                            <tr>
                                                <th>Fee Head</th>
                                                <th>Amount</th>
                                            </tr>
                                        </thead>

                                        <tbody>

                                            <tr *ngFor="let fee of rowData.feeDetails">
                                                <td>{{fee.feeHeadName}}</td>
                                                <td>₹ {{fee.amount}}</td>
                                            </tr>

                                            <tr class="totalRow">
                                                <td>Total</td>
                                                <td>₹ {{rowData.totalFee}}</td>
                                            </tr>

                                        </tbody>

                                    </table>

                                </div>

                            </td>

                        </tr>

                    </ng-template>

                </p-table>

            </div>

        </div>
    </div>
</div>



<!-- <td class="editArea" style="text-align:center">

                                <span (click)="viewContent(rowData)">
                                    <i class="pi pi-external-link editiconSize s8 mr3"></i>
                                    <span class="fw600">View</span>
                                </span>

                                <span (click)="editContent(rowData)">
                                    <span class="ml2 mr2"> | </span>
                                    <i class="pi pi-file-edit editiconSize"></i>
                                    <span class="fw600">Edit</span>
                                </span>

                                <span (click)="confirm($event,rowData)">
                                    <span class="ml2 mr2"> | </span>
                                    <i class="pi pi-trash fontRed"></i>
                                    <span class="fw600 fontRed">Delete</span>
                                </span>
                                <div class="card flex justify-content-center gap-2">
                                    <p-confirmPopup styleClass="confirmpopup">
                                        <ng-template pTemplate="headless" let-message let-test>
                                            <div class="gilroyNormal s12 mb12">{{ message.message }}</div>
                                            <div class="flex align-items-center gap-2 mt-3">
                                                <div (click)="!deleteLoading ? confirmPopup() : ''"
                                                    class="success-btn deleteConfirmBtn success-btn-enabled"
                                                    [style.width]="deleteLoading ? '130px' : ''"
                                                    [style.cursor]="deleteLoading ? 'not-allowed' : 'pointer'">
                                                    <i *ngIf="deleteLoading" class="pi pi-spin pi-spinner"
                                                        style="font-size: 12px; animation: fa-spin 1s infinite linear; margin-right: 5px; margin-left: -5px;"></i>{{deleteCnfText}}
                                                </div>
                                                <div (click)="cancelPopup()" class="cancel-btn ml10">Cancel</div>
                                            </div>
                                        </ng-template>
                                    </p-confirmPopup>
                                </div>
                            </td> -->