<p-toast position="top-center" key="tc"></p-toast>

<div class="p15 pl25">
    <div class="gilroyNormal s10 fontLightGrey breadCrumbsArea">
        <span class="breadCrumbsBack" (click)="navigateMenu('home/portal-config')">Expense</span>
        <i class="pi pi-angle-left breadCrumbsArrow"></i>
        <span *ngIf="action == 'save'">Create Expense</span>
        <span *ngIf="action == 'edit'">Edit Expense</span>
        <span *ngIf="action == 'view'">View Expense</span>
    </div>
    <div class="gilroyNormal s13 fw600">
        <span *ngIf="action == 'save'">Create new Expense</span>
        <span *ngIf="action == 'edit'">Edit existing Expense</span>
        <span *ngIf="action == 'view'">View existing Expense</span>
    </div>

    <div class="whiteDivision" style="min-height: calc(100vh - 161px);">
        <div class="gilroyNormal fontMediumBlack fw600 s11 mb25">Please fill below details to create new Expense
        </div>
        <form [formGroup]="expenseForm" (ngSubmit)="action=='edit' ? onEdit() : onSubmit()">
            <div class="textboxComponent mt5 mr18 mh70">
                <div class="textboxName">Expense Name</div>
                <input type="text" class="pinputText pinputText300px" pInputText formControlName="name">
                <div
                    *ngIf="expenseForm.controls.name.invalid && (expenseForm.controls.name.dirty || expenseForm.controls.name.touched)">
                    <div *ngIf="expenseForm.controls.name.errors!= null" class="gilroyNormal fontRed s11 mt5">
                        {{getErrorMessage('name',expenseForm.controls.name.errors)}}
                    </div>
                </div>
            </div>
            <div class="dropdownComponent mt5 mr18 mh70">
                <div class="dropdownName">Expense Head</div>
                <p-dropdown class="pDropdown pDropdown300px" [options]="expenseheads" formControlName="expensehead"
                    optionLabel="name" filterBy="name" placeholder="Select Expense Head" [filter]="true"
                    [showClear]="true">
                    <ng-template let-dept pTemplate="item">
                        <div class="align-items-center gap-0 dropdown-items">
                            <div>{{dept.name}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
                <div
                    *ngIf="expenseForm.controls.expensehead.invalid && (expenseForm.controls.expensehead.dirty || expenseForm.controls.expensehead.touched)">
                    <div *ngIf="expenseForm.controls.expensehead.errors!= null" class="gilroyNormal fontRed s11 mt5">
                        {{getErrorMessage('expensehead',expenseForm.controls.expensehead.errors)}}
                    </div>
                </div>
            </div>
            <div class="textboxComponent mt5 mr18 mh70">
                <div class="textboxName">Invoice Number</div>
                <input type="text" class="pinputText pinputText300px" pInputText formControlName="invoice">
            </div>
            <div class="dropdownComponent mt5 mr18 mh70">
                <div class="dropdownName">Date</div>
                <p-calendar formControlName="date" [showIcon]="true" dateFormat="dd/mm/yy" class="dateInput"
                    inputId="date" [style]="{'width':'300px'}" [iconDisplay]="'input'">
                </p-calendar>
                <div
                    *ngIf="expenseForm.controls.date.invalid && (expenseForm.controls.date.dirty || expenseForm.controls.date.touched)">
                    <div *ngIf="expenseForm.controls.date.errors!= null" class="gilroyNormal fontRed s11 mt5">
                        {{getErrorMessage('date',expenseForm.controls.date.errors)}}
                    </div>
                </div>
            </div>
            <div class="textboxComponent mt5 mr18 mh70">
                <div class="textboxName">Amount</div>
                <input type="number" class="pinputText pinputText300px" pInputText formControlName="amount">
                <div
                    *ngIf="expenseForm.controls.amount.invalid && (expenseForm.controls.amount.dirty || expenseForm.controls.amount.touched)">
                    <div *ngIf="expenseForm.controls.amount.errors!= null" class="gilroyNormal fontRed s11 mt5">
                        {{getErrorMessage('amount',expenseForm.controls.amount.errors)}}
                    </div>
                </div>
            </div>
            <div class="textboxComponent mt5 mr18 mh70">
                <div class="textboxName">Description</div>
                <input type="text" class="pinputText pinputText300px" pInputText formControlName="description">
            </div>
            <div class="mt40" *ngIf="action != 'view'">
                <button type="submit" *ngIf="action == 'save'" class="success-btn fw600 addlPaddingNBorder"
                    [disabled]="!expenseForm.valid" [style.background-color]="showLoading ? '#860063' : ''"
                    [style.width]="showLoading ? '130px' : ''">
                    <span *ngIf="!showLoading">Save</span>
                    <span *ngIf="showLoading"><i class="pi pi-spin pi-spinner"
                            style="font-size: 12px; animation: fa-spin 1s infinite linear; margin-right: 5px; margin-left: -5px;"></i>Saving...</span>
                </button>

                <button type="submit" *ngIf="action == 'edit'" class="success-btn fw600 addlPaddingNBorder"
                    [disabled]="!expenseForm.valid || !showUpdateButton"
                    [style.background-color]="showLoading ? '#860063' : ''" [style.width]="showLoading ? '130px' : ''">
                    <span *ngIf="!showLoading">Update</span>
                    <span *ngIf="showLoading"><i class="pi pi-spin pi-spinner"
                            style="font-size: 12px; animation: fa-spin 1s infinite linear; margin-right: 5px; margin-left: -5px;"></i>Updating...</span>
                </button>

                <button type="button" class="cancel-btn ml10 fw600"
                    (click)="navigateMenu('home/portal-config')">Cancel</button>
            </div>
        </form>
    </div>
</div>