<p-toast position="top-center" key="tcc"></p-toast>
<div class="p15 pl25">
    <!-- Navigator plus heading -->
    <div class="gilroyNormal s10 fontLightGrey breadCrumbsArea">Student</div>
    <div class="gilroyNormal s13 fw600">Student</div>

    <!-- initial load filter -->
    <div class="whiteDivision">
        <div class="dropdownComponent">
            <div class="dropdownName">Classes</div>
            <p-dropdown [options]="classes" [(ngModel)]="selectedClass" optionLabel="name" [filter]="true"
                filterBy="name" [filterFields]="['name']" [showClear]="true" placeholder="Select Class"
                class="pDropdown" (onChange)="onClass($event)">
                <ng-template let-class pTemplate="item">
                    <div class="align-items-center gap-0 dropdown-items">
                        <div>{{ class.name }}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>

        <div class="dropdownComponent ml12">
            <div class="dropdownName">Sections</div>
            <p-dropdown [options]="sections" [(ngModel)]="selectedSection" optionLabel="sectionLabel" [filter]="true"
                [filterFields]="['sectionName']" [showClear]="true" placeholder="Select Section" class="pDropdown"
                (onChange)="onSection($event)" [disabled]="sectionDisabled">
                <ng-template let-section pTemplate="item">
                    <div class="align-items-center gap-0 dropdown-items">
                        <div>{{section.sectionName}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>

        <div class="disp-inline-block v-align-bottom">
            <div [class]="selectedClass && selectedSection ? 'active-btn ml15' : 'inactive-btn ml15'"
                (click)=" selectedClass && selectedSection ? getStudent() : ''"
                [style.width]="enableSearchLoading ? '130px' : '90px'" style="transition: width .5s"
                [style.cursor]="enableSearchLoading ? 'not-allowed' : ''">
                <span *ngIf="!enableSearchLoading">Search</span>
                <span *ngIf="enableSearchLoading"><i class="pi pi-spin pi-spinner"
                        style="font-size: 12px; animation: fa-spin 1s infinite linear; margin-right: 5px; margin-left: -5px;"></i>Searching...</span>
            </div>
            <div [class]="selectedClass && selectedSection ? 'reset-btn ml10 reset-btn-enabled' : 'reset-btn ml10'"
                (click)="selectedClass && selectedSection ? reset() : ''">Reset</div>
        </div>

    </div>

    <!-- data area -->
    <!-- min-height: calc(100vh - 210px);  -->
    <div class="whiteDivision" style="margin-top: 18px; padding-bottom: 0px;">
        <div class="search-n-heading-component">
            <div class="disp-inline-block">
                <div class="gilroyNormal s13 fw600 mb7">Student List</div>
                <div class="gilroyNormal fontLightGrey s11">Total {{students.length}} students</div>
            </div>
            <div class="disp-inline-block float-r">
                <span class="p-input-icon-right">
                    <i class="pi pi-search"></i>
                    <input type="text" pInputText class="inputtext-search" placeholder="Search by Student name"
                        [(ngModel)]="searchText" (ngModelChange)="applyFilterGlobal(searchText, 'contains')" />
                </span>
                <div class="success-btn ml12 success-btn-enabled" (click)="createUserNav()" *ngIf="isRoleReadWrite()"><i
                        class="pi pi-plus"></i>Create a new Student
                </div>
            </div>
        </div>
        <div class="grid-table">
            <p-table #dt1 [value]="students" dataKey="id" [multiSortMeta]="tableMultiSortingMetaData" [paginator]="true"
                [rows]="tableRows" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[5, 10, 20, 50]" sortMode="multiple"
                [globalFilterFields]="['mobileNumber','studentId', 'firstName', 'lastName',  'dateOfBirth', 'dateOfAdmission']"
                styleClass="p-datatable-sm table-generic-style">
                <ng-template pTemplate="header">
                    <tr>
                        <th scope="col" pSortableColumn="studentId"> StudentId<p-sortIcon
                                field="studentId"></p-sortIcon></th>
                        <th scope="col" pSortableColumn="firstName">First Name<p-sortIcon
                                field="firstName"></p-sortIcon></th>
                        <th scope="col" pSortableColumn="lastName">Last Name<p-sortIcon field="lastName"></p-sortIcon>
                        </th>
                        <th scope="col" pSortableColumn="mobileNumber">Contact Number<p-sortIcon
                                field="mobileNumber"></p-sortIcon></th>
                        <th scope="col" pSortableColumn="dateOfBirth">Date of Birth<p-sortIcon
                                field="dateOfBirth"></p-sortIcon></th>
                        <th scope="col" pSortableColumn="dateOfAdmission">Date Of Admission<p-sortIcon
                                field="dateOfAdmission"></p-sortIcon></th>
                        <th style="text-align: center;">Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                    <tr>
                        <td>{{user.studentId}}</td>
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{user.mobileNumber}}</td>
                        <td>{{user.dateOfBirth | date:'dd/MM/YYYY' }}</td>
                        <td>{{user.dateOfAdmission | date:'dd/MM/YYYY' }}</td>
                        <td class="editArea" style="text-align: center;">
                            <span (click)="viewContent(user)" *ngIf="isRoleReadOnly()">
                                <i class="pi pi-external-link editiconSize s8 mr3"></i>
                                <span class="v-align-mid fw600 ">View</span>
                            </span>
                            <span (click)="editContent(user)" *ngIf="isRoleReadWrite()">
                                <span class="v-align-mid fontLightGrey ml2 mr2"> | </span>
                                <i class="pi pi-file-edit editiconSize fontBlack"></i>
                                <span class="v-align-mid fw600 fontBlack">Edit</span>
                            </span>
                            <span (click)="confirm($event, user)" *ngIf="isRoleReadWrite()">
                                <span class="v-align-mid fontLightGrey ml2 mr2"> | </span>
                                <i class="pi pi-trash editiconSize fontRed"></i>
                                <span class="v-align-mid fw600 fontRed">Delete</span>
                            </span>
                            <div class="card flex justify-content-center gap-2">
                                <p-confirmPopup styleClass="confirmpopup">
                                    <ng-template pTemplate="headless" let-message let-test>
                                        <div class="gilroyNormal s12 mb12">{{ message.message }}</div>
                                        <div class="flex align-items-center gap-2 mt-3">
                                            <div (click)="!deleteLoading ? confirmPopup() : ''"
                                                class="success-btn deleteConfirmBtn success-btn-enabled"
                                                [style.width]="deleteLoading ? '130px' : ''"
                                                [style.cursor]="deleteLoading ? 'not-allowed' : 'pointer'">
                                                <i *ngIf="deleteLoading" class="pi pi-spin pi-spinner"
                                                    style="font-size: 12px; animation: fa-spin 1s infinite linear; margin-right: 5px; margin-left: -5px;"></i>{{deleteCnfText}}
                                            </div>
                                            <div (click)="cancelPopup()" class="cancel-btn ml10">Cancel</div>
                                        </div>
                                    </ng-template>
                                </p-confirmPopup>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="7">No Students found.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>