<p-toast position="top-center" key="tcc"></p-toast>
<div class="p15 pl25">
    <div class="gilroyNormal s13 fw600">Fee & Payment Management</div>
    <div class="whiteDivision">
        <div class="dropdownComponent">
            <div class="dropdownName">Academic Year</div>
            <p-dropdown class="pDropdown" [options]="academicYears" [(ngModel)]="selectedYear"
                placeholder="Select Academic Year" optionLabel="name" filterBy="name" [filter]="true"
                [showClear]="true">
                <ng-template let-yrs pTemplate="item">
                    <div class="align-items-center gap-0 dropdown-items">
                        <div>{{yrs.name}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
        <div class="dropdownComponent ml12">
            <div class="dropdownName">Class</div>
            <p-dropdown class="pDropdown" [options]="classes" [(ngModel)]="selectedClass" placeholder="Select Class"
                optionLabel="name" filterBy="name" [filter]="true" [showClear]="true" (onChange)="onClassChange()">
                <ng-template let-cls pTemplate="item">
                    <div class="align-items-center gap-0 dropdown-items">
                        <div>{{cls.name}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
        <div class="dropdownComponent ml12">
            <div class="dropdownName">Section</div>
            <p-dropdown class="pDropdown" [options]="filteredSections" [(ngModel)]="selectedSection"
                optionLabel="sectionName" filterBy="sectionName" placeholder="Select Section" [filter]="true"
                [showClear]="true">
                <ng-template let-sec pTemplate="item">
                    <div class="align-items-center gap-0 dropdown-items">
                        <div>{{sec.sectionName}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
        <!-- <div class="dropdownComponent ml12">
            <div class="dropdownName">Status</div>
            <p-dropdown class="pDropdown" [options]="statusList" [(ngModel)]="selectedStatus"
                placeholder="Select Status" optionLabel="statusName" filterBy="statusName" [filter]="true"
                [showClear]="true">
                <ng-template let-status pTemplate="item">
                    <div class="align-items-center gap-0 dropdown-items">
                        <div>{{status.statusName}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div> -->

        <div class="disp-inline-block v-align-bottom">
            <div [class]="selectedYear || selectedClass  || selectedSection ? 'active-btn ml15' : 'inactive-btn ml15'"
                (click)=" selectedYear || selectedClass || selectedSection ? applyInvoiceFilter() : ''"
                [style.width]="enableSearchLoading ? '130px' : '90px'" style="transition: width .5s"
                [style.cursor]="enableSearchLoading ? 'not-allowed' : ''">
                <span *ngIf="!enableSearchLoading">Search</span>
                <span *ngIf="enableSearchLoading"><i class="pi pi-spin pi-spinner"
                        style="font-size: 12px; animation: fa-spin 1s infinite linear; margin-right: 5px; margin-left: -5px;"></i>Searching...</span>
            </div>
            <div [class]="selectedYear || selectedClass || selectedSection ? 'reset-btn ml10 reset-btn-enabled' : 'reset-btn ml10'"
                (click)="selectedYear || selectedClass || selectedSection ? resetFilter() : ''">Reset</div>
        </div>
    </div>

    <div class="whiteDivision" style="min-height: calc(100vh - 210px); margin-top: 18px; padding-bottom: 0px;">
        <div class="search-n-heading-component">
            <div class="disp-inline-block">
                <div class="gilroyNormal s13 fw600 mb7">Fee List</div>
                <div class="gilroyNormal fontLightGrey s11">
                    Total {{feeslist.length}} Fee
                </div>
            </div>
            <div class="disp-inline-block float-r">
                <span class="p-input-icon-right">
                    <i class="pi pi-search"></i>
                    <input type="text" pInputText class="inputtext-search" placeholder="Search"
                        [(ngModel)]="searchText" (ngModelChange)="applyGlobalFilter(searchText, 'contains')" />
                </span>
                <div class="success-btn ml12 success-btn-enabled" (click)="transactionhistory()">
                    <i class="pi pi-eye"></i>
                    Transaction History
                </div>
            </div>
        </div>

        <div class="grid-table">
            <p-table #dt1 [value]="filteredInvoices" dataKey="id" [multiSortMeta]="tableMultiSortingMetaData"
                [paginator]="true" [rows]="tableRows" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[5, 10, 20, 50]" sortMode="multiple"
                [globalFilterFields]="['studentId','studentName','parentName','class','status']"
                styleClass="p-datatable-sm table-generic-style">
                <ng-template pTemplate="header">
                    <tr>
                        <th scope="col" pSortableColumn="studentId"> Student Id<p-sortIcon
                                field="studentId"></p-sortIcon>
                        </th>
                        <th scope="col" pSortableColumn="studentName"> Student Name<p-sortIcon
                                field="studentName"></p-sortIcon>
                        </th>
                        <th scope="col" pSortableColumn="parentName"> Parent Name<p-sortIcon
                                field="parentName"></p-sortIcon>
                        </th>
                        <th scope="col" pSortableColumn="class"> Class<p-sortIcon field="class"></p-sortIcon>
                        </th>
                        <th scope="col" pSortableColumn="total"> Total<p-sortIcon field="total"></p-sortIcon>
                        </th>
                        <th scope="col" pSortableColumn="paid"> Paid Amount<p-sortIcon field="paid"></p-sortIcon>
                        </th>
                        <th scope="col" pSortableColumn="balance"> Balance Amount<p-sortIcon
                                field="balance"></p-sortIcon>
                        </th>
                        <!-- <th scope="col" pSortableColumn="status"> Status <p-sortIcon field="status"></p-sortIcon>
                        </th> -->
                        <th scope="col" pSortableColumn="action"> Action<p-sortIcon field="action"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-invoice let-i="rowIndex">
                    <tr>
                        <td>{{invoice.studentId}}</td>
                        <td>{{invoice.studentName}}</td>
                        <td>{{invoice.parentName}}</td>
                        <td>{{invoice.class}}</td>
                        <td>{{invoice.total}}</td>
                        <td>{{invoice.paid}}</td>
                        <td>{{invoice.balance}}</td>
                        <td class="editArea" style="text-align: center;">
                            <span (click)="viewContent(invoice)">
                                <i class="pi pi-external-link editiconSize s8 mr3"></i>
                                <span class="v-align-mid fw600 ">View</span>
                            </span>
                            <span (click)="editContent(invoice)">
                                <span class="v-align-mid fontLightGrey ml2 mr2"> | </span>
                                <i class="pi pi-file-edit editiconSize fontBlack"></i>
                                <span class="v-align-mid fw600 fontBlack">Edit</span>
                            </span>
                        </td>
                        <!-- <td>
                            <p-dropdown class="tabledropdown" [options]="statusList" [(ngModel)]="invoice.status"
                                optionLabel="statusName" optionValue="id" placeholder="Select Status" appendTo="body"
                                panelStyleClass="tabledropdown-panel">
                            </p-dropdown>
                        </td>
                        <td>
                            <button class="p-button-sm submit-small" pButton label="Submit"
                                (click)="saveStatus(invoice)">
                            </button>
                        </td> -->
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>