<p-toast position="top-center" key="tcc"></p-toast>
<div class="p15 pl25">
    <div class="gilroyNormal s13 fw600">Role</div>

    <div class="whiteDivision" style="min-height: calc(100vh - 210px); margin-top: 18px; padding-bottom: 0px;">
        <div class="search-n-heading-component">
            <div class="disp-inline-block">
                <div class="gilroyNormal s13 fw600 mb7">Role List</div>
                <div class="gilroyNormal fontLightGrey s11">
                    Total {{roles.length}} Roles
                </div>
            </div>
            <div class="disp-inline-block float-r">
                <span class="p-input-icon-right">
                    <i class="pi pi-search"></i>
                    <input type="text" pInputText class="inputtext-search" placeholder="Search by Role Name"
                        [(ngModel)]="searchText" (ngModelChange)="applyGlobalFilter(searchText, 'contains')" />
                </span>
                <div class="success-btn ml12 success-btn-enabled" (click)="createRole()">
                    <i class="pi pi-plus"></i>
                    Add New Role
                </div>
            </div>


            <div class="grid-table">
                <p-table #dt1 [value]="roles" dataKey="id" [multiSortMeta]="tableMultiSortingMetaData"
                    [paginator]="true" [rows]="tableRows" [showCurrentPageReport]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [rowsPerPageOptions]="[5, 10, 20, 50]" sortMode="multiple"
                    [globalFilterFields]="['roleId','roleName','rolecategoryname']"
                    styleClass="p-datatable-sm table-generic-style">
                    <ng-template pTemplate="header">
                        <tr>
                            <th scope="col" pSortableColumn="roleId"> Role Id<p-sortIcon field="roleId"></p-sortIcon>
                            </th>
                            <th scope="col" pSortableColumn="roleName"> Role Name<p-sortIcon
                                    field="roleName"></p-sortIcon>
                            </th>
                            <th scope="col" pSortableColumn="rolecategoryname"> Role Category<p-sortIcon
                                    field="rolecategoryname"></p-sortIcon>
                            </th>
                            <th scope="col" pSortableColumn="action"> Action<p-sortIcon field="action"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rol let-i="rowIndex">
                        <tr>
                            <td>{{rol.roleId}}</td>
                            <td>{{rol.roleName}}</td>
                            <td>{{rol.rolecategoryname}}</td>
                            <td class="editArea" style="text-align: center;">
                                <span (click)="viewContent(rol)">
                                    <i class="pi pi-external-link editiconSize s8 mr3"></i>
                                    <span class="v-align-mid fw600 ">View</span>
                                </span>
                                <span (click)="editContent(rol)">
                                    <span class="v-align-mid fontLightGrey ml2 mr2"> | </span>
                                    <i class="pi pi-file-edit editiconSize fontBlack"></i>
                                    <span class="v-align-mid fw600 fontBlack">Edit</span>
                                </span>
                                <span (click)="confirm($event, rol)">
                                    <span class="v-align-mid fontLightGrey ml2 mr2"> | </span>
                                    <i class="pi pi-trash editiconSize fontRed"></i>
                                    <span class="v-align-mid fw600 fontRed">Delete</span>
                                </span>
                                <div class="card flex justify-content-center gap-2">
                                    <p-confirmPopup styleClass="confirmpopup">
                                        <ng-template pTemplate="headless" let-message let-test>
                                            <div class="gilroyNormal s12 mb12">{{ message.message }}</div>
                                            <div class="flex align-items-center gap-2 mt-3">
                                                <div (click)="!deleteLoading ? confirmPopup() : ''"
                                                    class="success-btn deleteConfirmBtn success-btn-enabled"
                                                    [style.width]="deleteLoading ? '130px' : ''"
                                                    [style.cursor]="deleteLoading ? 'not-allowed' : 'pointer'">
                                                    <i *ngIf="deleteLoading" class="pi pi-spin pi-spinner"
                                                        style="font-size: 12px; animation: fa-spin 1s infinite linear; margin-right: 5px; margin-left: -5px;"></i>{{deleteCnfText}}
                                                </div>
                                                <div (click)="cancelPopup()" class="cancel-btn ml10">Cancel</div>
                                            </div>
                                        </ng-template>
                                    </p-confirmPopup>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>