:root {
  /* manage selling indent  */
  --ofis-tt-normal-tab-color: #253746;
  --custom-outline-border: #860063;
  --custom-outline-bg: transparent;
  --card-box-border-color: #e6e4e4;
  --card-box-border-radius: 8px;
  --transfer-glyphicon: #860063;
  --custom-outline-border: #860063;
  --custom-outline-bg: transparent;
  --button-decline-background: #d9534f;
  --button-decline-border: #d43f3a;
  --sort-by-bg: #ececec;
  --sort-by-radius: 5px;
  --ag-cell-font-family: 'Gilroy-Regular';
  --ag-cell-font-size: 16px;
  --ag-cell-color: rgba(0, 0, 0, 0.87);
  --ag-grid-table-head-background: #860063;
  --ag-row-selected-background: #860063;
  --ag-row-selected-background-border: #860063;
  --ag-cell-focus-background: #0091EA;
  --font-family-semibold: 'Gilroy-Semibold';
  --ag-grid-table-head-background: #860063;
  --ag-grid-boder-color-common: 1px solid rgb(133, 130, 130);
  --ag-grid-header-font-size: 14px;
  --paginate-filter-bg: #fff;
  --paginate-filter-color: #222;
  --paginate-filter-border: #860063;
  --paginate-filter-active-bg: #707070;
  --paginate-filter-active-color: #fff;
  --paginate-font-family: "Gilroy-Regular";
  /* manage selling indent  */

  --theme-color: #860463;
  --accordion-header-color: #fff;
  --accordion-header-text-color: #fff;
  --accordion-background-color: #860063;
  --active-state-color: #860063;
  --panel-menu-left: 0px;
  --panel-menu-active: #860063;
  --panel-menu-text-color: #4a4949;
  --panel-menu-body: #fff;
  --panel-menu-hover: #f78c2a;
  --panel-menu-bg: #f9f9f9;
  --panel-menu-active-border: 0px;
  --panel-menu-left-radius: 25px;
  --panel-menu-radius: 8px;
  --panel-sub-menu-color: #860063;
  --panel-shadow: 0px;
  --body-style-padding: 15px 30px 50px 3px;
  --body-style-bg-color: #f8f6f8;
  --body-font-color: #333;
  --nav-tab-active: #860663;
  --nav-tab-hover: #860663;
  --nav-tab-color: #fff;
  --nav-tab-active-color: #fff;
  --nav-tab-normal: #878786;
  --nav-tab-normal-color: #fff;
  --card-bg-header: #F8F6F8;
  --card-header-border-bottom: 1px solid #dee2e6 !important;
  --card-border: 1px solid #C6C6C5;
  --btn-disabled-bg: #878786;
  --btn-disabled-border: #878786;
  --btn-success-bg: #860063;
  --btn-success-border: #860063;
  --btn-outline-success-bg: #fff;
  --btn-outline-success-border: #860063;
  --btn-outline-success-color: #860063;
  --btn-outline-success-border: 1.5px solid #860063;
  --btn-outline-success-weight: 700;
  --btn-secondary-bg: #4a4949;
  --btn-secondary-border: 0px;
  --btn-danger-bg: #ea0029;
  --btn-danger-border: #ea0029;
  --btn-info-bg: #860063;
  --btn-info-border: #860063;
  --btn-warning-bg: #f78c2a;
  --btn-warning-border: #f78c2a;
  --btn-light-color: #860063;
  --file-upload-label: #fff 0% 0% no-repeat padding-box;
  --file-upload-color: #860063;
  --file-upload-border: 1px solid #860063;
  --file-upload-text-align: center;
  --table-head-bg: #9e948e;
  --table-thead-bg: #F8F6F8;
  --table-head-border: 1px solid #fff !important;
  --table-content-border: 1px solid #c8c9cb;
  --table-row-even-bg: #fff;
  --table-bordered: 1px solid #c8c9cb;
  --btn-edit-bg: #860663;
  --btn-hover: #fff;
  --top-search-bar: #fff;
  --price-icon-color: #860063;
  --modal-header-bg: rgba(0, 0, 0, .07);
  --modal-body-bg: #fff;
  --alert-header-success-bg: #7b1960;
  --alert-header-success-color: #fff;
  --alert-header-info-bg: #860663;
  --alert-header-info-color: #fff;
  --custom-btn-bg: #860063;
  --custom-danger-bg: #fd4e00;
  --dialog-border: none;
  --menuitem-normal: #4a4949;
  --menuitem-active: #860463;
  --menuitem-active-color: #fff;
  --menuitem-active-border: none;
  --menuitem-border: 1px solid #6f1c58;
  --card-bg: #fff;
  --car-border: 0px;
  --label-font-weight: normal;
  --brand-img-padding: 13px;
  --brand-img-height: 2.5rem;
  --brand-img-width: 7em;
  --form-control-color: #6c5d56;
  --form-control-border: 5px;
  --form-control-border-color: rgba(0, 0, 0, 0.38);
  --ui-table-caption-border: 0px;
  --table-caption-input-radius: 24px;
  --dashboard-icon-color: #860063;
  --dashboard-bg-image: none;
  --dashboard-grid-bg: #fff;
  --dashboard-icon-hover: #860063;
  --dashboard-name-color: #860063;
  --dashboard-grid-hover: transparent;
  --dashboard-grid-shadow: 0px 3px 6px #00000029;
  --loader-color: #860063;
  --widget-header-bg: #ececec;
  --name-heading: #333333;
  --search-bar-color: #6c5d56;
  --header-shadow: 1px 5px 29px 0px rgba(0, 0, 0, 0.25);
  --header-index: 1;
  --nav-padding: 20px 0;
  --pagination-border: 1px solid #9e948e;
  --pagination-bg: #fff;
  --pagination-active-bg: #860063;
  --pagination-active-color: #fff;
  --pagination-bg-color: #9e948e;
  --pagination-color: #9e948e;
  --pagination-margin: 11px 0;
  --pagination-radius: 5px;
  --pagination-dropdown-margin: 8px 0px 8px 0.5em;
  --pagination-margin-top: 0;
  --ip-button-radius: 0.25rem;
  --ip-button-padding: 7px;
  --ip-button-height: 37px;
  --ip-button-color: #860063;
  --mandatory-ex-color: #6c5d56;
  --reset-radius: 31px;
  --checked-slider-bg: #860063;
  --text-box-bg: #fff;
  --text-box-border: 0px;
  --calendar-input-bg: #fff;
  --calendar-input-color: #6c5d56;
  --go-button-width: 75px;
  --checkbox-focus-outline: 0px;
  --checkbox-danger-bg: #860063;
  --checkbox-danger-border: #860063;
  --accordion-content-bg: #ececec;
  --accordion-content-border: 0px;
  --close-color: #fff;
  --close-hover-color: #fff;
  --close-hover-opacity: 1 !important;
  --checkbox-disabled-bg: #860063ab;
  --checkbox-bg: #860063;
  --dropdown-border: 0px !important;
  --text-muted-color: #6c5d56 !important;
  --advance-search-border: 2px solid rgba(0, 0, 0, 0.1);
  --well-green-bg: #860063;
  --well-red-bg: #f78c2a;
  --display-header-bg: #86006342;
  --display-header-color: #860063;
  --jumbo-green-bg: #860063cc;
  --ledger-bg-white: transparent;
  --checkbox-success-bg: #860063;
  --checkbox-success-border: #860063;
  --loan-jumbo-green-bg: #f78c2a;
  --program-active-bg: #f78c2a;
  --img-icon-bg: #7373c0;
  --single-select-border: #fff;
  --accordion-bg: #fff;
  --accordion-border: 0px;
  --accordion-border-color: rgba(0, 0, 0, .125);
  --grey-shadow: 0px;
  --map-marker-color: #860063;
  --weather-card-shadow: 0 2px 3px 0 rgb(0 0 0 / 30%);
  --add-question-bg: #860063;
  --question-no-color: #860063;
  --remove-question-bg: #ea0029;
  --table-shadow: 0px;
  --reg-menu-active: #860663;
  --reg-menu-shadow: 0px;
  --reg-menu-bg: #878786;
  --disabled-upload-bg: #878786;
  --display-box-border: #860063;
  --active-menu-btn: #860663;
  --default-menu-btn: #878786;
  --hover-menu-btn: #860063;
  --open-but: #860063;
  --table-mark-bg: #87878682;
  --tabview-active: #860663;
  --red-bg: #ea0029;
  --text-primary-color: #ff7000;
  --radio-btn-color: #860063;
  --page-item-active-bg: #860063;
  --delete-bg: #ececec;
  --message-success-color: #860063;
  --search-fl-pagination-top: 0px;
  --panel-style-width: 250px;
  --alert-success-icon: #a0c800;
  --alert-message-color: #860063;
  --alert-danger-icon: #eb5b29;
  --alert-info-icon: #ff7000;
  --to-farmer-left: 35px;
  --cookie-logo-url: url("assets/images/yt.jpeg");
  --info-table-content: transparent;
  --header-padding: 3rem;
  --form-control-disable: #F8F6F8;
  --radio-label-margin-right: 0px;
  --radio-label-padding: 6px 5px 6px 4px;
  --crop-padding: 0;
  --btn-border-radius: 2em;
  --label-success-bg-color: #6dba00;
  --font-family: Gilroy-Regular !important;
  --icon-primary: #860063;
  --bg-active: #6dba00;
  --bg-green: #6DBA00;
  --bg-inactive: #f78c2a;
  --bg-dormant: #ea0029;
  --bg-reset: #878786;
  --quantitygraph-bg: #06a7b7;
  --quantitygraph-border: #09a8b7;
  --weather-text-color: #f78c2a;
  --plus-icon: #f78c2a;
  --searchiconColor: #222222;
  --search-border: 1px solid#c6c6c5;
  --search-label: #222222;
  --table-header-color: #222222;
  --card-subtitle-text: #878786;
  --card-alt-bg: #f5f5f5;
  --button-height: 105px;
  --button-minwidth: 39px;
  --border-radius: 0.5rem !important;
  --container-border: 1px solid #c8c8c8;
  --inputbox: #d4d4e3;
  --price-menu-bg: #4A4949;
  --noborder: 0px;
  --table-hyperlink-background: #337ab7;
  --warn-msg: #d83548;
  --email-container-border: grey;
  --remainder-time-am-bg: #860063;
  --remainder-time-pm-bg: #efeee5;
  --remainder-time-pm-color: #333333;
  --danger-button-background: #fff;
  --danger-button-border: #860063;
  --danger-button-color: #860063;
  --selected-value-bg: #860063;
  --select-checkbox-bg: #860063;
  --multi-dropdown-option-color: #860063;
  --dropdown-option-bg: #F8F6F8;
  --select-checkbox-boder: #860063;
  --delivery-type-btn-radius: 8px;
  --orgin-form-control-radius: 4px;
  --broadcast-reset-button-color: #860063;
  --broadcast-reset-button-color-hover: #860063;
  --save-button: #860063;
  --save-button-disabled: #860063;
  --origin-border-bg: #b0aa7e;
  --reason-container-border: black;
  --transaction-h3-color: #860063;
  --transaction-hay-button: #860063;
  --transaction-hay-buttonOutline: #fff;
  --transaction-hay-button-color: #fff;
  --transaction-hay-buttonOutline-color: #860063;
  --transaction-header-text-align: left;
  --button-text-transform: uppercase;
  --transaction-label: #222222;
  --transaction-label-fontsize: 16px;
  --transaction-blue-button: #860063;
  --card-box-border: 0px;
  --card-box-radius: 8px;
  --card-box-shadow: 0px 3px 6px #00000029;
  --transaction-content-background: #fff;
  --warehouse-heading-size: 20px;
  --warehouse-heading-color: #4a4949;
  --warehouse-subtitle-size: 20px;
  --warehouse-success-button-background: #860063;
  --warehouse-success-button-border: 1px solid #860063;
  --warehouse-danger-button-background: #fff;
  --warehouse-danger-button-border: 1px solid #860063;
  --warehouse-danger-button-color: #860063;
  --settings-thumbnail-hover: #fff;
  --settings-text-decoration: none;
  --decline-button-background: #fff;
  --decline-button-color: #860063;
  --decline-button-border: 1px solid #860063;
  --total-popup-color: #fff;
  --popover-heading-size: 16px;
  --popover-label: #222222;
  --popover-fontsize: 16px;
  --card-box-border-color: #e6e4e4;
  --card-box-border-radius: 8px;
  --placeholder-box-color: #C6C6C5;
  --transaction-box-shadow: 0px 0px 15px #0000000D;
  --tile-font-size: 12px;
  --tile-font-weight: 600;
  --tile-color: #2e2d2c;
  --edit-btn-bg: #860063;
  --edit-btn-color: #fff;
  --edit-btn-border: #860063;
  --modal-header-background: #860063;
  --edit-btn-hover: #860063;
  --decline-button-background: #fff;
  --decline-button-color: #860063;
  --decline-button-border: 1px solid #860063;
  --manage-survey-label-font-family: inherit;
  --manage-surver-popup-save-button: #860063;
  --manage-surver-popup-save-button-hover: #860063;
  --manage-surver-popup-rest-button-hover: #860063;
  --manage-surver-popup-button-box-shadow: none;
  --button-decline-background: #d9534f;
  --button-decline-border: #d43f3a;
  --selling-intent-decline-color: #860063;
  --selling-intent-bulk-font-size: 13px;
  --checkmark-bg: #fff;
  --checkmark-tick: #fff;
  --checkmark-checked-bg: #860063;
  --checkmark-border: #860063;
  --checkmark-checked-border: #860063;
  --checkmark-selected-radio-bg: #860063;
  --add-grades-btn-bg: rgb(14, 14, 58);
  --add-grades-btn-color: #fff;
  --add-grades-btn-border: rgb(14, 14, 58);
  --add-grades-btn-hover: rgb(25, 25, 133);
  --selling-intent-update-disabled-button-bg: rgb(197, 188, 188);
  --selling-intent-update-disabled-button-color: rgb(105, 103, 103);
  --approve-btn-color:#860063;
  --alert-modal-title-color:#000000;
  --alert-modal-title-font-size:16px;
  --popover-cancel-button: #fff;
  --popover-cancel-button-border: 1px solid #860063;
  --popover-cancel-button-color: #860063;
  --ofis-tt-popover-save-button-font-size:1rem;
  --editablebox--border: 1px solid #ececec;
  --editablebox--bg:#ececec;
  --define-crop-color: #ddd;
  --approve-button: #860063;
  --approve-button-hover: #860063;
  --table-hyperlink-background: #337ab7;

}

@font-face {
  font-family: Gilroy-Regular;
  src: url(assets/fonts/Gilroy-Regular.otf) format("opentype");
}
