<p-toast position="top-center" key="tcc"></p-toast>
<div class="p15 pl25">
    <div class="gilroyNormal s13 fw600">Subject</div>

    <div class="whiteDivision">
        <div class="dropdownComponent">
            <div class="dropdownName">Department</div>
            <p-dropdown class="pDropdown" [options]="Departments" [(ngModel)]="selecteddept"
                placeholder="Select Department" optionLabel="name" filterBy="name" [filter]="true" [showClear]="true">
                <ng-template let-dept pTemplate="item">
                    <div class="align-items-center gap-0 dropdown-items">
                        <div>{{dept.name}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
        <div class="disp-inline-block v-align-bottom">
            <div [class]="selecteddept ? 'active-btn ml15' : 'inactive-btn ml15'"
                (click)=" selecteddept ? getdatabydept(selecteddept) : ''"
                [style.width]="enableSearchLoading ? '130px' : '90px'" style="transition: width .5s"
                [style.cursor]="enableSearchLoading ? 'not-allowed' : ''">
                <span *ngIf="!enableSearchLoading">Search</span>
                <span *ngIf="enableSearchLoading"><i class="pi pi-spin pi-spinner"
                        style="font-size: 12px; animation: fa-spin 1s infinite linear; margin-right: 5px; margin-left: -5px;"></i>Searching...</span>
            </div>
            <div [class]="selecteddept ? 'reset-btn ml10 reset-btn-enabled' : 'reset-btn ml10'"
                (click)="selecteddept ? resetFilter() : ''">Reset</div>
        </div>
    </div>
<!-- min-height: calc(100vh - 210px);  -->
    <div class="whiteDivision" style="margin-top: 18px; padding-bottom: 0px;">
        <div class="search-n-heading-component">
            <div class="disp-inline-block">
                <div class="gilroyNormal s13 fw600 mb7">Subject List</div>
                <div class="gilroyNormal fontLightGrey s11">
                    Total {{subjects.length}} Subjects
                </div>
            </div>
            <div class="disp-inline-block float-r">
                <span class="p-input-icon-right">
                    <i class="pi pi-search"></i>
                    <input type="text" pInputText class="inputtext-search" placeholder="Search by Subject Name"
                        [(ngModel)]="searchText" (ngModelChange)="applyGlobalFilter(searchText, 'contains')" />
                </span>
                <div class="success-btn ml12 success-btn-enabled" (click)="createSubject()">
                    <i class="pi pi-plus"></i>
                    Add New Subject
                </div>
            </div>


            <div class="grid-table">
                <p-table #dt1 [value]="subjects" dataKey="id" [multiSortMeta]="tableMultiSortingMetaData"
                    [paginator]="true" [rows]="tableRows" [showCurrentPageReport]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [rowsPerPageOptions]="[5, 10, 20, 50]" sortMode="multiple"
                    [globalFilterFields]="['id','name','departmentname','Assigned','formattedcreatedDate']"
                    styleClass="p-datatable-sm table-generic-style">
                    <ng-template pTemplate="header">
                        <tr>
                            <th scope="col" pSortableColumn="id"> Subject Id<p-sortIcon field="id"></p-sortIcon>
                            </th>
                            <th scope="col" pSortableColumn="name"> Subject Name<p-sortIcon field="name"></p-sortIcon>
                            </th>
                            <th scope="col" pSortableColumn="departmentname"> Department<p-sortIcon
                                    field="departmentname"></p-sortIcon>
                            </th>
                            <th scope="col" pSortableColumn="isAssigned"> Assigned<p-sortIcon
                                    field="isAssigned"></p-sortIcon>
                            </th>
                            <th scope="col" pSortableColumn="createdAt"> Created Date<p-sortIcon
                                    field="createdAt"></p-sortIcon>
                            </th>
                            <th scope="col" pSortableColumn="action"> Action<p-sortIcon field="action"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-sub let-i="rowIndex">
                        <tr>
                            <td>{{sub.id}}</td>
                            <td>{{sub.name}}</td>
                            <td>{{sub.departmentname}}</td>
                            <td>{{sub.Assigned}}</td>
                            <td>{{sub.formattedcreatedDate }}</td>
                            <td class="editArea" style="text-align: center;">
                                <span (click)="viewContent(sub)">
                                    <i class="pi pi-external-link editiconSize s8 mr3"></i>
                                    <span class="v-align-mid fw600 ">View</span>
                                </span>
                                <span (click)="editContent(sub)">
                                    <span class="v-align-mid fontLightGrey ml2 mr2"> | </span>
                                    <i class="pi pi-file-edit editiconSize fontBlack"></i>
                                    <span class="v-align-mid fw600 fontBlack">Edit</span>
                                </span>
                                <span (click)="confirm($event, sub)">
                                    <span class="v-align-mid fontLightGrey ml2 mr2"> | </span>
                                    <i class="pi pi-trash editiconSize fontRed"></i>
                                    <span class="v-align-mid fw600 fontRed">Delete</span>
                                </span>
                                <div class="card flex justify-content-center gap-2">
                                    <p-confirmPopup styleClass="confirmpopup">
                                        <ng-template pTemplate="headless" let-message let-test>
                                            <div class="gilroyNormal s12 mb12">{{ message.message }}</div>
                                            <div class="flex align-items-center gap-2 mt-3">
                                                <div (click)="!deleteLoading ? confirmPopup() : ''"
                                                    class="success-btn deleteConfirmBtn success-btn-enabled"
                                                    [style.width]="deleteLoading ? '130px' : ''"
                                                    [style.cursor]="deleteLoading ? 'not-allowed' : 'pointer'">
                                                    <i *ngIf="deleteLoading" class="pi pi-spin pi-spinner"
                                                        style="font-size: 12px; animation: fa-spin 1s infinite linear; margin-right: 5px; margin-left: -5px;"></i>{{deleteCnfText}}
                                                </div>
                                                <div (click)="cancelPopup()" class="cancel-btn ml10">Cancel</div>
                                            </div>
                                        </ng-template>
                                    </p-confirmPopup>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>